<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.edmt.aplikasipetanifix">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".admin.login.Login"
            android:label="SFSS ADMIN"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".admin.admin_MainActivity" />
        <activity android:name=".admin.admin_hapusakun" />
        <activity android:name=".admin.admin_buatakunpetani" />
        <activity android:name=".admin.admin_tambahkordinatlahan" />
        <activity android:name=".admin.admin_tambahsaldo" />
        <activity android:name=".admin.admin_verifikasi" />
        <activity android:name=".admin.admin_slot" />
        <activity android:name=".admin.admin_laporan" />
        <activity android:name=".admin.admin_tambahsaldoinvesator" />
        <activity android:name=".admin.admin_tambahsaldopetani" />
        <activity android:name=".admin.admin_buatakunadd"></activity>
    </application>

</manifest>